# JSON Database Configuration
DB_JSON_DATABASE=database/json
DB_JSON_PREFIX=
DB_JSON_STRICT=false
DB_JSON_KEY_TYPE=string

# JSON Cache Configuration
CACHE_DRIVER=json
CACHE_JSON_TABLE=cache
CACHE_PREFIX=

# JSON Session Configuration
SESSION_DRIVER=json
SESSION_JSON_TABLE=sessions
SESSION_LIFETIME=120

# JSON Queue Configuration
QUEUE_CONNECTION=json
QUEUE_JSON_TABLE=jobs
QUEUE_JSON_NAME=default
QUEUE_JSON_RETRY_AFTER=90
